
body{
    font-family: "Oswald", sans-serif;
    font-size: 50%;
    color: brown;
    background-image: url("image/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:  rgba(0, 0, 0, 0);;

}

.image{
    margin-top: 30px;
    text-align: center;
}

.image img{
    height: 70vh;
    width: auto;
    align-content: center;

}

h1{
    text-align: center;
    font-size: 40px;
    text-shadow: black 2px 2px 4px;
    color: #FF66CC;
}
.navigation{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.left{
    margin-right: 300px;

}
.navigation a {
  pointer-events: none;
}

.navigation img {
  pointer-events: auto;
}
.navigation img:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;

}
.page.active{
    opacity: 1;
}
.page.next {
  transform: translateX(-100%);
}

.page.previous {
  transform: translateX(+100%);
}
.empty{
    height: 40vh;
    width: auto;
    align-content: center;
}
.voice{
    text-align: center;
    margin-top: 20px;
}